button {
  cursor: pointer;
}

a:link {
  color: inherit;
  text-decoration: none;
}

.link {
  color: inherit;
}

body {
  background: #366671;
}

.loding {
  /* transform: translateX(50%); */
  position: absolute;
  right: 0;
  top: -50%;
  left: -30%;
  /* left: -25%%; */
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}
